<% form_for resource_name, resource, :url => password_path(resource_name), :html => {:class => 'table'} do |f| -%>
  <div class="inner-form">
    <%= get_flash_messages -%>
    <table cellspacing="0">
      <tr>
        <th><%= f.label :email %></th>
        <td><%= f.text_field :email, :class => 'txt' %></td>
      </tr>
      <tr>
        <th></th>
        <td class="tr proceed">
          <input type="submit" value="Send me reset password instructions" class="button">
        </td>
      </tr>
    </table>
  </div>
<% end -%>
