<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
  <head>

      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta http-equiv="content-style-type" content="text/css" />
      <meta http-equiv="content-script-type" content="text/javascript" />
      
      <title>Log in</title>
      
      <link rel="stylesheet" type="text/css" href="/stylesheets/blue.css" media="screen, projection, tv" />
      <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css" media="screen, projection, tv" />
      <!--[if lte IE 7.0]><link rel="stylesheet" type="text/css" href="/stylesheets/ie.css" media="screen, projection, tv" /><![endif]-->
  <!--[if IE 8.0]>
    <style type="text/css">
      form.fields fieldset {margin-top: -10px;}
    </style>
  <![endif]-->
  
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <!-- Adding support for transparent PNGs in IE6: -->
  <!--[if lte IE 6]>
    <script type="text/javascript" src="/javascripts/ddpng.js"></script>
    <script type="text/javascript">
      DD_belatedPNG.fix('h3 img');
    </script>
  <![endif]-->
  
  </head>
  <body id="login">
    <div class="box box-50 altbox">
      <div class="boxin">
        <div class="header">
          <h3><img src="/images/workfu_logo.png" alt="Workfu" /></h3>
          <%= render :partial => "shared/devise_links" %>
        </div>
        <%= yield -%>
      </div>
    </div>
  </body>
</html>
